@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  margin: 0px;
  padding: 0px;
}

.page
{
  height: calc(100vh - 64px);
}

.input-container:focus-within
{
  outline: 2px solid hsl(var(--p));
  outline-offset: 2px;
}

p
{
  cursor: default;
}

.explore-slider
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw-96px);
}